@font-face {
  font-family: 'iconfont';  /* project id 1976837 */
  src: url('//at.alicdn.com/t/font_1976837_rwwj5dfzhp.eot');
  src: url('//at.alicdn.com/t/font_1976837_rwwj5dfzhp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1976837_rwwj5dfzhp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1976837_rwwj5dfzhp.woff') format('woff'),
  url('//at.alicdn.com/t/font_1976837_rwwj5dfzhp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1976837_rwwj5dfzhp.svg#iconfont') format('svg');
}